@font-face {
  font-family: Cyrillic;
  src: local("Helvetica Neue"), local("Arial");
  font-weight: normal;
  /* only cyrillic */
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: Cyrillic;
  src: local("Helvetica Neue Bold"), local("Arial Bold");
  font-weight: bold;
  /* only cyrillic */
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
body {
  font-family: Cyrillic, Meiryo, sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #999;
}
.header-inner {
  max-width: 1000px;
  margin: auto;
}
.header-title {
  font-size: 3em;
  margin: 0.2em 0;
}
.header-bar {
  display: flex;
  justify-content: space-between;
}

#app {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 3em;
  padding: 5px;
}
